<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Search Brewery</h1>
    <h2>search by any one option or leave all blank</h2>
    <form action="/fetching2" method="post" >
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="City" name="city" type="text">
        <br>
        <input placeholder="Type" name="type" type="text">
        <br>
        <input class="sub" type="submit">
    </form>


</body>
</html>