<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Give Review By Brewery Name To see What others say about this particular Pub</h1>

    <form action="/reviewdetails" method="post">
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="description" name="description" type="text">
        <br>
        <input placeholder="rating" name="rating" type="text">
        <br>

        <input class="sub" type="submit">
    </form>

</body>
</html>