<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="review.css">
    <title>Document</title>
</head>
<body>
    <h1>Brewery Review List Based On Name</h1>
    
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Rating</th>

      </tr>
    </thead>
    <tbody>
      {{#each review}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.description}}</td>
        <td>{{this.rating}}</td> 
      </tr>
      {{/each}}
    </tbody>
  </table>
</body>
</html>